body{
  background-color:rgb(103, 177, 255) ;
}
#name{
  list-style: none;
  width:auto;
  height:auto;
  background-color: #b8de6f;
  padding:20px;
  border-radius: 10px;
  border-style: double;
}
#nav{
  background-color: rgb(0, 123, 255);
  height:60px;
}
#search{
 
  margin-left: 10px;
  margin-left: 10px;
}
#field{
  width:10%;
  height:35px;
  margin-left: 60%;
  margin-top: 15px;
  border-style: none;
  border-radius: 5px;
  padding: 0%;
}
b{
  color: white;
  font-size: 1.5em;
  margin-left: 5px;
}
#container{
  width:60vw;
  margin-left: 20%;
  border-radius: 10px;
}
#res{
  color: white;
  text-align: center;
}
